{{ form_start(form) }}
    <div class="error-custom-class">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.name )}}
        </div>

        <div class="col">
            {{ form_row(form.price )}}
        </div>

        <div class="col">
            {{ form_row(form.description )}}
        </div>

        <div class="col">
            {{ form_row(form.picture )}}
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
